* {
  box-sizing: border-box;


  /* font-family: 'IBM Plex Sans Condensed', sans-serif; */
  /* font-family: 'Asap', sans-serif; */
  /* font-family: 'Thasadith', sans-serif; */
  /* font-family: 'Cabin', sans-serif; */
}

:root {
  --star-size: 24px;
  --star-color: #080808;
  --star-background: #41ABBA;
}

header {
  border: 2px solid #FCFCFC;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  background-color: #181018;
  color: #FCFCFC;
  padding: 8px 12.5%;
}

body {
  padding: 0px 0 20px 0;
  font-family: 'Asap', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #181018;
}

h1 {
  font-style: bold;
  font-size: 32px;
}

h2 {
  font-size: 24px;
  margin: 0 auto;
}

p {
  font-style: normal;
}

.bookmarks-section {
  border: 1px solid #FCFCFC;
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding: 16px 16px;
  background-color: slategrey;
}

.bookmarks-ul {
  list-style: none;
  padding-left: 0;
  background-color: slategrey;
}

.bookmark-item {
  border: 1px solid #120816;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 12px auto;
  background-color: #FCFCFC;

}

.bookmark-section {
  border: 1px solid black;
  height: 50px;
  line-height: 50px;
}

.bookmark-favicon {
  flex-grow: 1;
  flex: 0 1 50px;
}

.bookmark-title {
  flex: 4 1 auto;
  padding: 0px 10px;
  border-right: none;
}

.bookmark-rating {
  flex: 0 1 180px;
  padding: 0px 10px;
  border-left: none; 
  vertical-align: middle;

  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  direction: rtl;  
  text-align: right;
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  line-height: 45px; 
}

.bookmark-rating::before {
  content: '★★★★★';
  letter-spacing: 4px;
  background: linear-gradient(270deg, var(--star-background) var(--percent), #FFFFFF00 var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bookmark-options {
  flex: 0 1 30px;
  content: '\2807';
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  align-items: center;
  
}

.bookmark-options:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.menu-dot {
  background-color: black;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  padding: 4px 0;
}

.bookmark-options:hover .menu-dot {
  background-color: white;
}


.bookmark-break {
  flex-basis: 100%;
}

.bookmark-body {
  flex-basis: 100%;
  padding: 8px 16px;
  height: auto;

  line-height: 1.5;
}

.hidden {
  display: none;
}




.stars {
  /* --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
}