* {
  box-sizing: border-box;


  /* font-family: 'IBM Plex Sans Condensed', sans-serif; */
  /* font-family: 'Asap', sans-serif; */
  /* font-family: 'Thasadith', sans-serif; */
  /* font-family: 'Cabin', sans-serif; */
}

:root {
  --star-size: 24px;
  --star-color: #080808;
  --star-background: #41ABBA;
}

header {
  border: 2px solid #FCFCFC;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9;
  background-color: #181018;
  color: #FCFCFC;
  padding: 8px 16px;
  width: 75%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;

}

.page-title {
  border: 1px solid green;
}

.add-bookmark-button {
  position: relative;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  flex: 0 1 auto;
  padding: 0;
  background-color: black;
  /* text-align: center; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  border-radius: 25px;
  transform: rotate(-90deg);
  transition: transform .5s;
}

.add-bookmark-button:hover {
  background-color: white;
}

.add-bookmark-button.active {
  background-color: black;
  transform: rotate(90deg);
  transition: transform .5s;
}

.add-bookmark-button.active:hover {
  background-color: white;
}

.add-hoz {
  position: absolute;
  left: 12.5%;
  top: 46%;
  background-color: white;
  height: 4px;
  width: 75%;
  border-radius: 2px;
}

.add-vert {
  position: absolute;
  top: 12.5%;
  left: 46%;
  background-color: white;
  height: 75%;
  width: 4px;
  border-radius: 2px;
}

.add-bookmark-button.active .add-hoz {
  width: 0;
  transition: all .5s;
}

.add-bookmark-button:hover .add-hoz{
  background-color: black
}

.add-bookmark-button:hover .add-vert{
  background-color: black
}

body {
  padding: 0px 0 20px 0;
  margin: auto 0;
  font-family: 'Asap', Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #181018;
}

h1 {
  font-style: bold;
  font-size: 32px;
}

h2 {
  font-size: 24px;
  margin: 0 auto;
}

p {
  font-style: normal;
}

button {
  font-family: 'Asap', Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
}

.bookmarks-section {
  border: 1px solid #FCFCFC;
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding: 16px 16px;
  background-color: slategrey;
}

.bookmarks-ul {
  list-style: none;
  padding-left: 0;
  background-color: slategrey;
}

.bookmark-item {
  border: 1px solid #120816;
  border-radius: 2px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 12px auto;
  background-color: #FCFCFC;

}

.bookmark-section {
  border: 1px solid black;
  height: 50px;
  line-height: 50px;
}

.bookmark-favicon {
  flex-grow: 1;
  flex: 0 1 50px;
}

.bookmark-title {
  flex: 4 1 auto;
  padding: 0px 10px;
  border-right: none;
  text-align: left;
}

.bookmark-rating {
  flex: 0 1 180px;
  padding: 0px 10px;
  border-left: none; 
  vertical-align: middle;

  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  direction: rtl;  
  text-align: right;
  font-size: 32px;
  line-height: 45px; 
}

.bookmark-rating::before {
  content: '★★★★★';
  letter-spacing: 4px;
  background: black;
  background: linear-gradient(270deg, var(--star-background) var(--percent), #FFFFFF00 var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#rating-fieldset {
  position: relative;
}

#rating-fieldset input[type='radio']{
  position: fixed;
  opacity: 0;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  /* margin-top: 6px; */
  /* margin-right: 6px; */
}

#rating-fieldset input[type='radio'] ~ span{
  display: inline-block;
  /* position: relative; */
  /* position: absolute; */

  /* calc(var(--rating) / 5 * 100%) */
  /* top:20px; */
  /* left: var(calc(var(--rating) * 48))px; */
  content: '★';
  /* width: 36px; */

  /* display: flex; */
  /* flex-direction: b; */
  /* align-content: stretch; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 48px;
  height: 48px;
  vertical-align: middle;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  /* font-weight: bold; */
  /* line-height: 1px; */
  /* color: transparent; */
  padding:0;
  margin: 0;

  border: 2px solid #999;
  /* margin: 6px 0px; */
  /* margin-right: 6px; */
  color: white;
}

#rating-fieldset input[type='radio']:checked ~ span{
  color: #41ABBA;
}

#rating-fieldset input[type='radio']:hover {
  cursor: pointer;
}

#rating-fieldset input[type='radio']:hover ~ span{
  color: #41ABBA;
}

.bookmark-options-container {
  flex: 0 1 auto;
  border: none;
  display: flex;
}

 /* options menu dot section*/
.bookmark-options {
  flex: 0 1 30px;
  content: '\2807';
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  align-items: center;
  
}

.bookmark-options:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.bookmark-options:active {
  background-color: black;
  color: white;
  cursor: pointer;
}

.bookmark-options:focus {
  background-color: black;
  color: white;
  cursor: pointer;
}

.bookmark-options:active .menu-dot{
  background-color: white;
}

.bookmark-options:hover .menu-dot{
  background-color: white;
}

.bookmark-options:focus .menu-dot{
  background-color: white;
}

.menu-dot {
  background-color: black;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  padding: 4px 0;
}

.bookmark-options:hover .menu-dot {
  background-color: white;
}


.bookmark-break {
  flex-basis: 100%;
}

.bookmark-body {
  flex-basis: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 32px;
  padding-left: 58px;

  border-top: 0;
  border-bottom: 0;
  line-height: 1.5;
  max-height: 0;
  height: auto;
  overflow: hidden;
  /* transition: overflow .5s padding-top .5s padding-bottom .5s max-height .5s ease-in-out; */

  transition: .3s ease;
  /* transition: border-top 300ms 300ms; */
}

.bookmark-body.expanded {

  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  overflow: default;
  max-height: 400px;

  /* transition: overflow .5s padding-top .5s padding-bottom .5s max-height .5s ease-in-out; */
  transition: .3s ease-in;

}

.options-list {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  margin: 0;
  align-items: center;
  flex: 0 1 auto;
  overflow:hidden;
  width: 0;
  border-right: none;
  border-left: none;
  transition: width .2s ease-in-out;
}

.options-list.expanded {
  flex: 0 1 auto;
  overflow: default;
  width: 120px;
}

.options-list-item {
  /* border: 1px solid red; */
  flex: 1 0 auto;
  padding: 0;
  margin: 0;

  height: 50px;
  padding: 0 8px;
  margin: 0;
  border: none;
  font-size: 16px;

}

.hidden {
  display: none;
}

.sadface{
  font-size: 46px;
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.sadface h2 {
  font-size: 32px;
}